package ${package.Service};

import ${package.Entity}.${entity};
import ${cfg.parent}.dto.${entity}Dto;
import java.util.List;
import com.baomidou.mybatisplus.core.metadata.IPage;


/**
* 后端Service接口；
*/
public interface I${entity}Service {
    /**
     * 添加一个对象
     * @param ${table.entityPath}
     */
    void add(${entity} ${table.entityPath});

    /**
     * 删除一个对象
     * @param id
     */
    void deleteById(Long id);

    /**
     * 批量删除
     * @param ids
     */
    void patchDel(List<Long> ids);

    /**
     * 更新一个对象
     * @param ${table.entityPath}
     */
    void updateById(${entity} ${table.entityPath});

    /**
     * 获取一个对象
     * @param id
     * @return
     */
    ${entity} findOne(Long id);

    /**
     * 获取所有对象
     * @return
     */
    List<${entity}> findAll();

    /**
     * 分页查询
     * @param  ${table.entityPath}Dto 分页参数
     * @return
     */
    IPage<${entity}> findByPage(${entity}Dto ${table.entityPath}Dto);
}
