<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qpf.echarts.mapper.EChartsMapper">

    <select id="getShopEcharts" resultType="com.qpf.echarts.vo.ECharsShopVo">
        SELECT state, count(*) countNum
        FROM t_shop
        GROUP BY state
        ORDER BY state
    </select>
    <!-- <select id="getShopEcharts" resultType="ECharsShopVo">-->
    <!--     SELECT CASE-->
    <!--                WHEN state = 1 then '待审核'-->
    <!--                WHEN state = 2 then '待激活'-->
    <!--                WHEN state = 3 then '激活成功'-->
    <!--                WHEN state = 4 then '驳回' END stateName,-->
    <!--            COUNT(1)                         countNum-->
    <!--     FROM t_shop-->
    <!--     GROUP BY state-->
    <!-- </select>-->

</mapper>
