<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qpf.system.mapper.EmployeeRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="employeeRoleResultMap" type="com.qpf.system.pojo.EmployeeRole">
                <result column="role_id" property="roleId"/>
                <result column="id" property="id"/>
    </resultMap>

    <select id="findByPage" resultMap="employeeRoleResultMap">
        select * from t_employee_role
        <if test="ew != null and ew != ''">
            ${ew.customSqlSegment}
        </if>
        <!--&lt;!&ndash; 如果配置了MybatisPlus的分页插件,则该操作不需要&ndash;&gt;-->
        <!--<if test="page != null">-->
        <!--    limit ${(page.current - 1) * page.size}, #{page.size}-->
        <!--</if>-->
    </select>
    <select id="findRoleIdByEmployeeId" resultType="java.lang.Long">
        select role_id
        from t_employee_role
        where employee_id = #{employeeId}
    </select>


</mapper>
