<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qpf.system.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="menuResultMap" type="com.qpf.system.pojo.Menu">
                <result column="name" property="name"/>
                <result column="component" property="component"/>
                <result column="url" property="url"/>
                <result column="icon" property="icon"/>
                <result column="index" property="index"/>
                <result column="parent_id" property="parentId"/>
                <result column="intro" property="intro"/>
                <result column="state" property="state"/>
        <association property="parent" column="parent_id" select="com.qpf.system.mapper.MenuMapper.selectById"></association>
    </resultMap>

    <select id="findByPage" resultMap="menuResultMap">
        select * from t_menu
        <if test="ew != null and ew != ''">
            ${ew.customSqlSegment}
        </if>
        <!--&lt;!&ndash; 如果配置了MybatisPlus的分页插件,则该操作不需要&ndash;&gt;-->
        <!--<if test="page != null">-->
        <!--    limit ${(page.current - 1) * page.size}, #{page.size}-->
        <!--</if>-->
    </select>


</mapper>
