<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qpf.system.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="permissionResultMap" type="com.qpf.system.pojo.Permission">
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="descs" property="descs"/>
        <result column="sn" property="sn"/>
    </resultMap>

    <select id="findByPage" resultMap="permissionResultMap">
        select * from t_permission
        <if test="ew != null and ew != ''">
            ${ew.customSqlSegment}
        </if>
        <!--&lt;!&ndash; 如果配置了MybatisPlus的分页插件,则该操作不需要&ndash;&gt;-->
        <!--<if test="page != null">-->
        <!--    limit ${(page.current - 1) * page.size}, #{page.size}-->
        <!--</if>-->
    </select>
    <select id="getPermissionsByLogininfoId" resultType="java.lang.String">
        select tp.sn from t_employee te
        join t_employee_role ter on te.id = ter.employee_id
        join t_role_permission trp on ter.role_id = trp.role_id
        join t_permission tp on trp.permission_id = tp.id
        where te.logininfo_id = #{logininfoId}
    </select>


</mapper>
